.app-success {
  background: #19145C;
  height: 100%;
  width: 100%;
  position: fixed;
  text-align: center;
}
.success-img {
  margin-top: 130px; 
}
.text-description {
  margin-top: 59px;
  /* width: 100%; */
  margin-left: 10%;
  margin-right: 10%;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
/* or 138% */
  text-align: center;

/* Money White */
  color: #FFFFFF;
}

.btn {
  border: none;
  width: 328px;
  height: 40px;
  background: #FFFFFF;
  border-radius: 8px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
/* identical to box height, or 138% */
  text-align: center;

/* Money Purple/Purple 600 */
  color: #3A3391;
}

button.btn.bg-white {
  margin-top: 84px;
}
.errored {
  background: #FFFFFF !important;
}
.errored .text-description {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height, or 138% */
  
  text-align: center;
  
  /* Money Purple/Purple 900 */
  
  color: #150F2E;
}
.bg-blue {
  background: #3A3391;
  color: #FFFFFF;
}
.errored .btn.bg-blue {
  margin-top: 161px;
}